/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.update-form {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  border-radius: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
  resize: vertical;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader .circle1,
.loader .circle2,
.loader .circle3 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px;
  animation: bounce 0.6s infinite alternate;
}
.circle1{
  background: linear-gradient(45deg, #00EAA3, #58dc9a);

}
.circle2{
  background: linear-gradient(45deg, #58dc9a, #00C6FB);

}
.circle3{
  background: linear-gradient(45deg, #00C6FB, #2cb1d5);

}
.loader .circle2 {
  animation-delay: 0.2s;
}

.loader .circle3 {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-20px);
  }
}





.members-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 10px; /* Space between the columns */
}

.member-item {
  display: flex;
  align-items: center;
}

.member-item label {
  margin-left: 5px;
}








